@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
        <img class="img-responsive img-rounded" src="https://cdn3.dualshockers.com/wp-content/uploads/2017/08/MonsterHunterWorld.jpg" alt="Monster Hunter World Title Screen" />
        <h2 class="text-center">Welcome to the Palico Forum!</h2>
        <h4 class="text-center">Join your fellow Hunters and Palicos to the premiere communication hub for all your hunting needs!</h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
        @await Component.InvokeAsync("PublicMsg")
    </div>
</div>

<div class="row">
    <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-6 col-xs-6">
        <img class="img-responsive" src="http://2.bp.blogspot.com/-VN3_glBeJjs/UQyPhOmTiEI/AAAAAAAAXeI/ouv0S_KlUj4/s1600/Monster+Hunter+Rathalos+Male+Blade+Master+Papercraft.png" alt="Hunter" />
    </div>
    <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6">
        <img class="img-responsive" src="http://static.tumblr.com/4fbbec463cbef35da7adb6a91a213e98/catozhm/FcSnpuirf/tumblr_static_dqh0y7e1rsowoowkcg4g4s484.png" alt="Palico" />
    </div>
</div>

<div class="row">
    <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 text-center">
        <h3>Hunters</h3>
        <ul>
            <li>Participate in Hunters-only message boards</li>
            <li>Communicate with all your assigned palicos</li>
            <li>Manage your palico's accounts</li>
            <li>Join now!</li>
        </ul>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 text-center">
        <h3>Palicos</h3>
        <ul>
            <li>Pawticipate in Palico-only message boards</li>
            <li>Chat with other palicos in your Meowster's command</li>
            <li>Plan purrfect strategies before departing for a quest</li>
            <li>Join meow!</li>
        </ul>
    </div>
</div>
