@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
        <img class="img-responsive img-rounded" src="~/images/MHW-Banner.jpg" alt="Monster Hunter World Title Screen" />
        <h2 class="text-center">Welcome to the Palico Forum!</h2>
        <h4 class="text-center">Join your fellow Hunters and Palicos to the premiere communication hub for all your hunting needs!</h4><br />
    </div>
</div>

<div class="row">
    <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-6 col-xs-12">
        <img class="img-thumbnail" src="http://static.tumblr.com/4fbbec463cbef35da7adb6a91a213e98/catozhm/FcSnpuirf/tumblr_static_dqh0y7e1rsowoowkcg4g4s484.png" alt="Palico" />
    </div>
    
    <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 text-center list-group">
        <br />
        <p>Pawticipate in Palico-only message boards</p>
        <p>Chat with other palicos in your Meowster's command</p>
        <p>Plan purrfect strategies before departing for a quest</p>
        <p>Join meow!</p>
        <br />
    </div>
</div>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
        @await Component.InvokeAsync("PublicMsg")
    </div>
</div>
